header {
    border: 1px solid black;
    background-color: #245486; /* Dark blue used on GoSchoolBox website */
    opacity: 1;
    height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 1rem;
    padding-left: 1rem;
}

#headerLeft, #headerRight {
    width: 45%;
    padding: 10px 20px;
}

#calculator {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1px;
}

.header img {
    float: left;
    width: auto;
    height: 60px;
    color: #245486;
}

ul {
    margin-top: 1rem;
    width: 100%;
    text-align: right;
}

li {
    
    list-style: none;
    text-align: left;
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
}
li a {
    text-decoration: none;
    color: #999;
}
li a:hover {
    color: white;
    
}

.headerButton {
    font-size: 18px;
    color: white;
    padding: 5px 15px;
    border-radius: 15px 15px 15px 15px;
    background-color: #60bff7;
}

.headerButton:hover {
    border-bottom: none;
    background-color: #78C9F8;
}
